{% for r in report_packages %}
{% if ansible_facts.packages[r] is defined %}
{{ inventory_hostname }},{{ r }},Yes,{{ ansible_facts.packages[r][0].version }}
{% else %}
{{ inventory_hostname }},{{ r }},No,
{% endif %}
{% endfor %}
