{% for r in report_packages %}
{% if ansible_facts.packages[r] %}
{{ inventory_hostname }},{{ r }},Yes,{{ packages[r].version }}
{% else %}
{{ inventory_hostname }},{{ r }},No,
{% endif %}
{% endfor %}
