{% for c in events.json.results %}{% if c.event == "runner_on_ok" and c.changed %}
<tr><td>{{c.host_name}}</td><td>{{ c.playbook }}</td><td>{{ c.task }}</td><td>{{ c.event_data.resolved_action }}</td><td><pre>{{ c.event_data.res.diff | default("") | to_nice_yaml | replace ('\n', "<br>        ") }}</pre></td></tr>
{% endif %}{% endfor %}
