<html>
  <head>
    <style>
      body { background-color: #efefef; }
      table { border-spacing: 0px; }
      table, th, td { border: 1px solid #ccc;  background-color: white;}
      th { background-color: #ccc; font-weight: bold; }
      td { padding: 10px; }
	    .center {
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>
  <body><br>
    <table class="ansibletable">
      <tr><th>Server</th><th>Playbook</th><th>Task</th><th>Module</th><th>Change</th></tr>
