<html>
  <head>
    <style>
      body { background-color: #efefef; }
      table { border-spacing: 0px; }
      table, th, td { border: 1px solid #ccc;  background-color: white;}
      th { background-color: #ccc; font-weight: bold; }
      td { padding: 10px; }
    </style>
  </head>
	<body><center><br><h3>{{ jdata.json.results[0].summary_fields.job.name }}</h3><br><br>
    <table>
      <tr><th>Server</th><th>Playbook</th><th>Task</th><th>Module</th><th>Change</th></tr>
